.footer {
    display: none;
}

body {
    background-color: lightblue;
}

.form {
    margin: 200px 300px 50px 300px;
    border: 1px solid black;
    background: lightskyblue;
    border-radius: 10px;
    width: 400px;
}

.form-group {
    margin-bottom: 20px;

    padding: 10px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

[type="submit"] {
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-bottom: 30px;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    justify-content: center;
    display: inline-block;
}

.form-check {
    padding: 0;
    text-align: center;
}