body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.feedback-form {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: white;
    margin: 20px;
    margin-left: 200px;
    border-radius: 5px;
    width: 700px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.feedback-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.form-group textarea {
    height: 100px;
}

.form-actions {
    text-align: center;
}

.form-actions button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 3px;
    background-color: green;
    color: white;
    cursor: pointer;
}

.form-actions button.cancel {
    background-color: gray;
}

.btn-href {
    color: white;
    text-decoration: none;
}