ul.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    margin-top: 20px;
}

ul.pagination li {
    margin: 0 5px;
}

ul.pagination li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 3px;
}

ul.pagination li.active a {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
}

ul.pagination li a:hover {
    background-color: #ddd;
}

table {
    width: 1100px;
    border-collapse: collapse;
    font-size: 13px;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 8px;
}

table th {
    background-color: #f2f2f2;
    text-align: left;
}

.btn {
    display: inline-block;
    padding: 8px 12px;
    margin: 30px 0 20px 0;
    text-decoration: none;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

img {
    width: 120px;
}

a {
    color: gray;
}

a:hover {
    text-decoration: none;
}

[type="submit"] {
    padding: 8px 15px;
    background-color: #28B463;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

[type="submit"]:hover,
.btn-add:hover {
    background-color: #239B56;
    color: white;

}

div.nav p {
    margin: 0;
    padding: 5px;
}

div.nav {
    background-color: #F2F3F4;
    padding: 5px;
    margin-bottom: 10px;
    width: 1100px;
}

.btn-add {
    padding: 7px;
    color: white;
    background-color: #28B463;
}